<div *ngIf="course && dataSource.length" class="final-grades-table-container">
  <section class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Student ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Student Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Assignments Average Grade Column -->
      <ng-container matColumnDef="assignmentsAverage">
        <th mat-header-cell *matHeaderCellDef>
          Assignments Avg. ({{ course.assignmentWeight }}%)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.assignmentsAverage }}
        </td>
      </ng-container>

      <!-- Final Exam Grade Column -->
      <ng-container matColumnDef="finalExamGrade">
        <th mat-header-cell *matHeaderCellDef>
          Final Exam ({{ course.finalExamWeight }}%)
        </th>
        <td mat-cell *matCellDef="let element">{{ element.finalExamGrade }}</td>
      </ng-container>

      <!-- Final Grade Column -->
      <ng-container matColumnDef="finalGrade">
        <th mat-header-cell *matHeaderCellDef>Final Grade</th>
        <td mat-cell *matCellDef="let element">{{ element.finalGrade }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>

  <!-- Submit Button -->
  <div fxLayoutAlign="center center" class="submit-final-grades-container">
    <button
      mat-fab
      extended
      (click)="onSubmitFinalGrades()"
      [disabled]="isLoading"
    >
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-icon *ngIf="!isLoading">grading</mat-icon>
        <mat-spinner *ngIf="isLoading" diameter="24"></mat-spinner>
        <span>{{ isLoading ? 'Submitting...' : 'Submit Final Grades' }}</span>
      </div>
    </button>
  </div>
</div>
