<form
  class="form-container"
  [formGroup]="changePasswordForm"
  (ngSubmit)="onSubmit()"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="24px"
>
  <!-- Title -->
  <h2>Change Password</h2>

  <!-- Current Password Field -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Current Password</mat-label>
    <mat-icon matPrefix>lock_open</mat-icon>
    <input
      matInput
      type="password"
      name="password"
      placeholder="Current Password"
      formControlName="currentPassword"
    />
    <mat-error
      *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')"
    >
      Current password is required.
    </mat-error>
  </mat-form-field>

  <!-- New Password Field -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>New Password</mat-label>
    <mat-icon matPrefix>lock</mat-icon>
    <input
      matInput
      type="password"
      name="new-password"
      placeholder="New Password"
      formControlName="newPassword"
    />
    <mat-error
      *ngIf="changePasswordForm.get('newPassword')?.hasError('required')"
    >
      New password is required.
    </mat-error>
    <mat-error
      *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')"
    >
      New password must be at least 6 characters long.
    </mat-error>
  </mat-form-field>

  <!-- Confirm New Password Field -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Confirm New Password</mat-label>
    <mat-icon matPrefix>lock</mat-icon>
    <input
      matInput
      type="password"
      name="confirm-password"
      placeholder="Confirm New Password"
      formControlName="confirmNewPassword"
    />
    <mat-error
      *ngIf="
        changePasswordForm
          .get('confirmNewPassword')
          ?.hasError('passwordsMismatch') &&
        changePasswordForm.get('confirmNewPassword')?.touched
      "
    >
      Passwords do not match.
    </mat-error>
    <mat-error
      *ngIf="changePasswordForm.get('confirmNewPassword')?.hasError('required')"
    >
      Confirm password is required.
    </mat-error>
  </mat-form-field>

  <!-- Buttons -->
  <div fxLayoutGap="16px">
    <button mat-flat-button color="primary" type="submit">
      Change Password
    </button>
    <a routerLink="/">
      <button mat-stroked-button color="warn" (click)="onCancel()">
        Cancel
      </button>
    </a>
  </div>
</form>
