<mat-card class="upload-card">
  <mat-card-header fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>
      <mat-icon
        class="file-icon"
        matTooltip="Select an Excel file to upload course data."
      >
        description
      </mat-icon>
      Upload Course Data
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <input
      type="file"
      (change)="onFileChange($event)"
      accept=".xlsx, .xls, .csv"
      hidden
      #fileInput
    />
    <button mat-raised-button color="primary" (click)="fileInput.click()">
      <mat-icon>upload</mat-icon> Upload File
    </button>
  </mat-card-content>
</mat-card>
