.main-container {
  padding: 8px;
}
.course-average {
  margin-top: 16px;
  text-align: center;
  font-size: 20px;
  color: #444;
  font-weight: bold;
}

.chart-title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: bold;
}
