<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-icon class="course-icon" matTooltip="Select a course" *ngIf="!isLoading">
    school
  </mat-icon>

  <mat-form-field *ngIf="!isLoading" appearance="fill">
    <mat-label>Select Course</mat-label>
    <mat-select [formControl]="courseControl">
      <mat-option *ngFor="let course of courses" [value]="course">
        {{ course.courseName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    class="clear-button"
    (click)="clearSelection()"
    *ngIf="!isLoading"
  >
    Clear
  </button>
</div>

<div
  *ngIf="isLoading"
  fxLayout="column"
  fxLayoutAlign="center center"
  class="loading-container"
>
  <mat-spinner></mat-spinner>
  <span class="loading-courses">Loading courses...</span>
</div>
