<div fxLayout="column" fxLayoutGap="4px">
  <app-course-select
    (courseSelected)="onCourseSelected($event)"
    (coursesLoaded)="onCoursesLoaded($event)"
  >
  </app-course-select>
  <h5 fxLayoutAlign="center center">Students Final Grades</h5>
  <div fxLayout="column" fxLayoutGap="10px">
    <div *ngIf="!isLoading">
      <div *ngIf="courses.length; else noCoursesTemplate">
        <h5 *ngIf="!selectedCourse" fxLayoutAlign="center center">
          * Select a course to view the students final grades
        </h5>
      </div>
      <ng-template #noCoursesTemplate>
        <h5>
          You don't have any courses yet. Please go to the
          <a routerLink="/courses">&nbsp;Courses&nbsp;</a>
          page to create a new course.
        </h5>
      </ng-template>
    </div>
  </div>
</div>
