<form
  class="form-container"
  [formGroup]="registrationForm"
  (ngSubmit)="onSubmit()"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="32px"
>
  <!-- Title -->
  <h2>Sign up</h2>
  <!-- Email Field -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email Address</mat-label>
    <mat-icon matPrefix>mail</mat-icon>
    <input
      matInput
      type="email"
      placeholder="Email Address"
      formControlName="email"
    />
    <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
      Email is required.
    </mat-error>
    <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
      Enter a valid email.
    </mat-error>
  </mat-form-field>
  <!-- First Name Field -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>First Name</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <input
      matInput
      type="text"
      placeholder="First Name"
      formControlName="firstName"
    />
    <mat-error *ngIf="registrationForm.get('firstName')?.hasError">
      First Name is required and must contain at least 2 characters.
    </mat-error>
  </mat-form-field>
  <!-- Last Name Field -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Last Name</mat-label>
    <mat-icon matPrefix>person_outline</mat-icon>
    <input
      matInput
      type="text"
      placeholder="Last Name"
      formControlName="lastName"
    />
    <mat-error *ngIf="registrationForm.get('lastName')?.hasError">
      Last Name is required and must contain at least 2 characters.
    </mat-error>
  </mat-form-field>
  <!-- Institution Field -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Institution</mat-label>
    <mat-icon matPrefix>school</mat-icon>
    <input
      matInput
      type="text"
      placeholder="Institution"
      formControlName="institution"
    />
    <mat-error *ngIf="registrationForm.get('institution')?.hasError">
      Institution is required and must contain at least 2 characters.
    </mat-error>
  </mat-form-field>
  <!-- Password Field -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <mat-icon matPrefix>lock</mat-icon>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
      Password is required.
    </mat-error>
    <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">
      Password must be at least 6 characters long.
    </mat-error>
  </mat-form-field>
  <!-- Confirm Password Field -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Confirm Password</mat-label>
    <mat-icon matPrefix>lock</mat-icon>
    <input
      matInput
      type="password"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
    />
    <mat-error
      *ngIf="
        registrationForm
          .get('confirmPassword')
          ?.hasError('passwordsMismatch') &&
        registrationForm.get('confirmPassword')?.touched
      "
    >
      Passwords do not match.
    </mat-error>
    <mat-error
      *ngIf="registrationForm.get('confirmPassword')?.hasError('required')"
    >
      Confirm password is required.
    </mat-error>
  </mat-form-field>
  <!-- Buttons -->
  <div fxLayoutGap="10px">
    <button mat-flat-button type="submit">Register</button>
    <a routerLink="/">
      <button mat-raised-button (click)="onCancel()">Cancel</button>
    </a>
  </div>
</form>
