.form-frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  .form-item {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    box-sizing: border-box;
    &:focus {
      border: 2px solid #41a447;
    }
  }
  .form-button {
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 2px 20px 0px rgba(63, 154, 245, 0.25);
    font-family: "Almarai", sans-serif;
    color: white;
    font-weight: 700;
    background-color: #41a447;
    border: 2px solid #41a447;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: #41a447;
    }
  }
}
