.courses-container {
  padding: 16px;
}

.welcome-container {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.welcome-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.dialog-container button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
}

span {
  font-weight: 500;
}

.click-below-text {
  color: #6c757d;
  font-size: 14px;
}

.dialog-container {
  padding: 12px;
}
