<app-form-card
  [title]="isEditMode ? 'Edit Assignment' : 'Add New Assignment'"
  [formGroup]="assignmentForm"
  [isLoading]="isLoading"
  (onSubmit)="onSubmit()"
  (onCancel)="onCancel()"
>
  <!-- Assignment Title Field -->
  <mat-form-field appearance="outline">
    <mat-label>Assignment Title</mat-label>
    <mat-icon matPrefix>school</mat-icon>
    <input
      matInput
      type="text"
      placeholder="Title"
      name="title"
      formControlName="title"
    />
    <mat-error *ngIf="assignmentForm.get('title')?.hasError('required')">
      Title is required.
    </mat-error>
    <mat-error *ngIf="assignmentForm.get('title')?.hasError('minlength')">
      Title must contain at least 2 characters.
    </mat-error>
    <mat-error *ngIf="assignmentForm.get('title')?.hasError('forbiddenChars')">
      Title must not contain special characters.
    </mat-error>
  </mat-form-field>

  <!-- Assignment Description Field -->
  <mat-form-field appearance="outline">
    <mat-label>Assignment Description</mat-label>
    <mat-icon matPrefix>description</mat-icon>
    <input
      matInput
      type="text"
      placeholder="Description"
      name="description"
      formControlName="description"
    />
    <mat-error *ngIf="assignmentForm.get('description')?.hasError('required')">
      Description is required.
    </mat-error>
    <mat-error *ngIf="assignmentForm.get('description')?.hasError('minlength')">
      Description must contain at least 2 characters.
    </mat-error>
    <mat-error
      *ngIf="assignmentForm.get('description')?.hasError('forbiddenChars')"
    >
      Description must not contain special characters.
    </mat-error>
  </mat-form-field>

  <!-- Due Date Field -->
  <mat-form-field appearance="outline">
    <mat-label>Assignment Due Date</mat-label>
    <input
      matInput
      [matDatepicker]="dueDatePicker"
      placeholder="Due Date"
      formControlName="dueDate"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matSuffix
      [for]="dueDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #dueDatePicker></mat-datepicker>
    <mat-error *ngIf="assignmentForm.get('dueDate')?.hasError('required')">
      Date is required.
    </mat-error>
  </mat-form-field>
</app-form-card>
