<mat-card
  class="main-card"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="18px"
>
  <mat-card-title>Add New Assignment</mat-card-title>
  <mat-card-content class="full-width">
    <form
      [formGroup]="assignmentForm"
      (ngSubmit)="onSubmit()"
      fxLayout="column"
      fxLayoutGap="32px"
    >
      <!-- Title Field -->
      <mat-form-field appearance="outline">
        <mat-label>Assignment Title</mat-label>
        <mat-icon matPrefix>school</mat-icon>
        <input
          matInput
          type="text"
          placeholder="Title"
          name="title"
          formControlName="title"
        />
        <mat-error *ngIf="assignmentForm.get('title')?.hasError('required')">
          Title is required.
        </mat-error>
        <mat-error
          *ngIf="
            assignmentForm.get('title')?.hasError('minlength') &&
            !assignmentForm.get('title')?.hasError('required')
          "
        >
          Title must contain at least 2 characters.
        </mat-error>
        <mat-error
          *ngIf="
            assignmentForm.get('title')?.hasError('forbiddenChars') &&
            !assignmentForm.get('title')?.hasError('required')
          "
        >
          Title must not contain special characters.
        </mat-error>
      </mat-form-field>

      <!-- Description Field -->
      <mat-form-field appearance="outline">
        <mat-label>Assignment Description</mat-label>
        <mat-icon matPrefix>description</mat-icon>
        <input
          matInput
          type="text"
          placeholder="Description"
          name="description"
          formControlName="description"
        />
        <mat-error
          *ngIf="assignmentForm.get('description')?.hasError('required')"
        >
          Description is required.
        </mat-error>
        <mat-error
          *ngIf="
            assignmentForm.get('description')?.hasError('minlength') &&
            !assignmentForm.get('description')?.hasError('required')
          "
        >
          Description must contain at least 2 characters.
        </mat-error>
        <mat-error
          *ngIf="
            assignmentForm.get('description')?.hasError('forbiddenChars') &&
            !assignmentForm.get('description')?.hasError('required')
          "
        >
          Description must not contain special characters.
        </mat-error>
      </mat-form-field>

      <!-- Due Date Field -->
      <mat-form-field appearance="outline">
        <mat-label>Assignment Due Date</mat-label>
        <input
          matInput
          [matDatepicker]="dueDatePicker"
          placeholder="Due Date"
          formControlName="dueDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="dueDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dueDatePicker></mat-datepicker>
        <mat-error *ngIf="assignmentForm.get('dueDate')?.hasError('required')">
          Date is required.
        </mat-error>
      </mat-form-field>
      <div
        *ngIf="isLoading"
        class="spinner-container"
        fxLayoutAlign="center center"
      >
        <mat-spinner></mat-spinner>
      </div>
      <div fxLayoutGap="16px" fxLayoutAlign="center stretch">
        <button
          mat-raised-button
          type="submit"
          [disabled]="isLoading || assignmentForm.invalid"
        >
          Submit
        </button>
        <button mat-button (click)="onCancel()" [disabled]="isLoading">
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
