.new-assignment {
  .add-assignment-message {
    font-size: 16px;
    color: #6c757d;
    text-align: center;
  }
  .add-assignment-btn {
    margin-bottom: 16px;
  }
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #2c322a;
}
