<div class="main-container" fxLayout="column" fxLayoutGap="16px">
  <app-course-select
    (coursesLoaded)="onCoursesLoaded($event)"
    (courseSelected)="onCourseSelected($event)"
    (loading)="onLoading($event)"
  >
  </app-course-select>
  <h5 fxLayoutAlign="center center">Course Tasks Management</h5>
  <div *ngIf="courses.length; else noCoursesTemplate">
    <h5 *ngIf="!selectedCourse" fxLayoutAlign="center center">
      * Select a course to view the attendance report
    </h5>
  </div>
  <ng-template #noCoursesTemplate>
    <h5 *ngIf="!isLoading" fxLayoutAlign="center center">
      You don't have any courses yet. Please go to the
      <a routerLink="/courses">&nbsp;Courses&nbsp;</a>
      page to create a new course.
    </h5>
  </ng-template>
  <div
    *ngIf="!isLoading && selectedCourse"
    class="tasks-container"
    fxLayout="column"
    fxLayoutGap="20px"
  >
    <h5 fxLayoutAlign="center center">
      Manage tasks for {{ selectedCourse.courseName }}
    </h5>

    <div fxLayout="column" fxLayoutGap="32px">
      <!-- Assignments Section -->
      <div fxLayout="column" fxLayoutGap="20px" class="assignments-section">
        <div
          class="new-assignment"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
        >
          <span class="section-title" fxLayoutAlign="center stretch">
            Assignments
          </span>
          <span class="add-assignment-message">
            Add a new assignment to this course by clicking the button below.
          </span>
          <button
            class="add-assignment-btn"
            mat-raised-button
            (click)="openAssignmentForm()"
          >
            Add New Assignment
          </button>
        </div>
        <app-assignments-list
          [assignments]="this.assignments"
          [isDeleting]="isDeleting"
          (editAssignment)="openAssignmentForm($event)"
          (deleteAssignment)="onDeleteAssignment($event)"
          (updateGrades)="onUpdateAssignment($event)"
        ></app-assignments-list>
      </div>

      <!-- Exams Section -->
      <div fxLayoutGap="12px" class="exams-section">
        <div
          class="new-item"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
        >
          <span class="section-title">Final Exam</span>
          <div
            fxLayoutAlign="center center"
            fxLayout="column"
            fxLayoutGap="10px"
            *ngIf="!exam"
          >
            <span class="add-item-message">
              Add a final exam to this course by clicking the button below.
            </span>
            <button
              class="add-item-btn"
              mat-raised-button
              (click)="openExamForm()"
            >
              Add Final Exam
            </button>
          </div>
          <div *ngIf="exam">
            <app-exam-card
              [exam]="exam"
              [isDeleting]="isDeleting"
              (editExam)="openExamForm($event)"
              (deleteExam)="onDeleteExam($event)"
              (updateGrades)="onUpdateExam($event)"
            ></app-exam-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
